:root {
    --font-general: 0.7em;
    --font-title: 1.2em;
    --round-border-radius: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: whitesmoke;
    height: 100vh;
    width: 100wh;
}

#signin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
    border-radius: var(--round-border-radius);
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,0.24);
    font-style: sans-serif;

    height: 280px;
    min-height: 160px; 
    min-width: 200px;
    width: 350px; 
}

#signin-title {
    font-size: var(--font-title);
}

input {

    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    font-size: var(--font-general);
    opacity: 40%;
    padding: 4px;
}

button {
    background-color: dodgerblue;
    border: none;
    border-radius: var(--round-border-radius);
    color: white;
    font-size: var(--font-general);
    
    min-width: 130px;
    margin: 20px 0px;
    padding: 8px 0px;
}



